<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center mt-5">
            <p class="lead">
                PlayaMaya dancing social club (PMSC) es una aplicación para gente que disfruta bailar en playa del carmen y sus cercanías. <br>
                Está browsable API tiene como proposito facilitar la integración de los nuevos integrantes al proyecto <br>
                Te damos la bienvenida al proyecto y happy coding.
            </p>
        </div>
    </div>
</div>
