<div class="container">
    <div class="row">
        <div class="pl-5 col-8 mt-5">
            <h1>PlayaMaya API</h1>
            <p class="lead">Browsable API de PlayaMaya dancing Social Club</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2 mt-5">
            <a href="/api" class="btn btn-primary btn-lg">Documentación</a>
        </div>
        <div class="col-2 mt-5">
            <a href="https://github.com/Mick-tz/playamaya-backend" target="_blank" class="btn btn-info btn-lg"><i class="fab fa-github"></i><span class="ml-2"> Github </span></a>
        </div>
        <div class="col-2"></div>
        <div class="col">
            <img src="img/dancing.jpg" class="img-fluid rounded" alt="imagen danza">
        </div>
    </div>
</div>